[Unit]
Description=Setup Allo BOSS2 remote controller
After=syslog.target

[Service]
User=root
Group=root

Type=oneshot
ExecStart=/usr/bin/ir-keytable -c -w  /etc/rc_keymaps/allo_boss2_remote.toml

[Install]
WantedBy=multi-user.target
