[Unit]
Description=OLED BOSS2
After=syslog.target network.target sound.target
Wants=mpd.service

[Service]
User=root
Group=root

Type=simple
ExecStartPre=dtoverlay gpio-ir gpio_pin=16
ExecStart=allo_boss2
ExecStopPost=dtoverlay -r gpio-ir
Restart=on-abort

[Install]
WantedBy=multi-user.target
