[Unit]
Description=OLED BOSS2
After=syslog.target network.target sound.target
Requires=irsetup.service

[Service]
User=root
Group=root

Type=simple
ExecStart=allo-boss2
Restart=on-abort

[Install]
WantedBy=multi-user.target
